paho-mqtt>=1.6.1
psutil>=5.9.1
setuptools>=63.1.0
pyspectator>=1.2.2
c8y-device-proxy>=1.1.1
certifi>=2022.6.15
distro>=1.7.0
sense-hat>=2.3.1
appdirs==1.4.3
asyncio==3.4.3
chardet==3.0.4
docutils==0.15.2
idna==2.8
lockfile==0.12.2
netifaces==0.10.5
packaging==16.8
pyparsing==2.2.0
python-daemon==2.2.4
requests==2.22.0
requests-unixsocket==0.2.0
six==1.10.0
urllib3==1.25.6